doctype html 
html 
  head 
    title KnowledgeBase
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body 
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href='/') KnowledgeBase
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
            if user
              a.nav-link.active(aria-current='page' href='/') Home
              a.nav-link(href='/articles/add') Add Articles
          .navbar-nav.navbar-right
            if user 
              a.nav-link(href='/users/logout') Logout
            else
              a.nav-link(href='/users/register') Register
              a.nav-link(href='/users/login') Login
      
    .container
      != messages('message', locals)
      if errors 
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer 
        p Copyright &copy; 2021

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')